button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
    
}
.showAccordion{
    padding: 1rem;
    width: 100%;
    text-align: center;
    background: rgba(60, 255, 0, 0.16);


}   
.active{
    background: rgba(255, 145, 0, 0.171);
}